fastapi==0.111.0
uvicorn[standard]==0.30.3
sqlalchemy==2.0.31
alembic==1.13.2
pydantic==2.8.2
pydantic-settings==2.3.4
psycopg2-binary==2.9.9
redis==5.0.8
rq==2.0.0
rq-scheduler==0.14.0
requests==2.32.3
python-jose==3.3.0
telethon==1.36.0
aiogram==3.9.0
pycryptodomex==3.23.0
pytoniq==0.1.43
pytoniq-core==0.1.46
tonsdk==1.0.15
cryptography==46.0.3
x25519==0.0.2